:root {
  /* Color Variables */
  --Cyan: hsl(180, 62%, 55%);
  --red: hsl(0, 78%, 62%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --White: hsl(0, 0%, 100%);
  --Grey400: hsl(212, 6%, 44%);
  --Grey500: hsl(234, 12%, 34%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url(design/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

main {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: var(--White);
  text-align: center;
}

h1 {
  font-size: clamp(1.8rem, 1.694rem + 0.451vw, 2.1rem);
  color: var(--Grey500);
  font-weight: 400;
}
.title-2 {
  font-size: clamp(1.8rem, 1.694rem + 0.451vw, 2.1rem);
  color: var(--Grey500);
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  color: var(--Grey500);
  font-weight: 700;
  margin-bottom: 10px;
}
p {
  font-size: 0.9375rem;
  color: var(--Grey400);
}

.description {
  margin: 15px auto 0;
  text-align: center;
  color: var(--Grey500);
  font-weight: 500;
  line-height: 1.5;
  max-width: 500px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  padding: 30px 5.5rem;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1200px) {
  main {
    padding: 20px 10px;
  }
  .cards {
    padding: 30px;
  }
}

#card-container-supervisor {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 5px solid var(--Cyan);
  margin-top: 20px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}
#card-container-team-builder {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 5px solid var(--red);
  margin-top: 20px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}
#card-container-karma {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 5px solid var(--Orange);
  margin-top: 20px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}

#card-container-calculator {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 5px solid var(--Blue);
  margin-top: 20px;
  box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  display: block;
  margin: 15px 0 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
